# Deep Learning Frameworks
tensorflow==2.15.0
torch==2.1.0
torchvision==0.16.0

# Face Recognition and Preprocessing
deepface==0.0.83
opencv-python==4.8.0.76
pillow==9.5.0
imutils==0.5.4

# Data Processing and Utilities
numpy==1.24.4
scikit-learn==1.3.2
joblib==1.3.2
tqdm==4.66.1
matplotlib==3.7.1
